{{ partial "header.html" . }}

<div class="container">
    <article class="post-container">
        {{ partial "page-header.html" . }}

        {{ partial "page-content.html" . }}

        <hr/>
        <div>
            <h3>Did you like the post?</h3>
            
            <ul>
                <li>Share with your friends, networks or may be on hackernews/reddit?</li>
                <li> Sign up for the <a href="http://eepurl.com/ciea85" target="_blank">Newsletter</a></li> 
                <li> Follow me on Twitter - <a href="https://twitter.com/masnun" target="_blank">@masnun</a></li> 
                <li> Leave a comment below</li>
            
            </ul>
             
            
        </div>
        <hr/>

        {{ partial "post-footer.html" . }}

        <br/>

        {{partial "disqus.html" .}}

    </article>

    
</div>

{{ partial "footer.html" . }}
