{{ partial "header.html" . }}

<div class="container">
    <article class="post-container">
        {{ partial "page-header.html" . }}

        {{ partial "page-content.html" . }}

        <hr/>

        <div>
            <h3>Did you like the post?</h3>

            If you liked the post, you may want to subscribe to the newsletter. I shall 
            send you an email when I post new contents to my blog. If you and I have a shared
            interest, it would be a good idea to stay in touch, right? <br/><br/>
            
            And of course, I promise your email address will be safe with me - I shall not spam you
            and I shall never sell or share your email address with any third parties. 

            <br/><br/>

            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="//rocks.us6.list-manage.com/subscribe/post?u=9629b854ab5af8778b9853891&amp;id=ad5968cb3a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Sign Up here: </label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9629b854ab5af8778b9853891_ad5968cb3a" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>

            <!--End mc_embed_signup-->
        </div>

        <br/><br/>

        I also post actively on Twitter - you can connect and discuss with me there too! <br/><br/>
        
        <a href="https://twitter.com/masnun" class="twitter-follow-button" data-show-count="false">Follow @masnun</a>
        <a href="https://twitter.com/intent/tweet?screen_name=masnun" class="twitter-mention-button" data-show-count="false">Tweet to @masnun</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        <br/><br/>
        
        <hr/>

        {{ partial "post-footer.html" . }}

        <br/>

        {{partial "disqus.html" .}}

    </article>

    
</div>

{{ partial "footer.html" . }}
